pydub-0.25.1
pip install pydub speechrecognition


requests == 2.31.0
numpy == 1.22.0
opencv_python == 4.2.0.32
dlib == 19.16.0
openai == 0.28.1
hume == 0.4.1
pip install deepface
pip install roboflow

