pydub == 0.25.1
requests == 2.31.0
numpy == 1.22.0
opencv_python == 4.2.0.32
dlib == 19.16.0
openai == 0.28.1
deepgram-sdk == 2.12.0
hume == 0.4.1
deepface == 0.0.83
roboflow == 1.1.19
nest-asyncio == 1.5.8
python-dotenv == 1.0.1